@import url('../cards.css');

.icon-card-item {
  font-family: 'Roboto Condensed', sans-serif !important;
  text-align: center;
}

.icon-card-item img {
  width: 80px;
  height: 80px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 100vh;
  border-color: #bdbdbd;
}

.icon-card-item p {
  margin-top: 8px;
}

div .ant-card-grid {
  padding: 16px;
  box-shadow: none;
}
