.error-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  .error-icon {
    max-width: 300px;
    min-width: 200px;
    max-height: 250px;
    min-height: 150px;
  }

  span {
    text-align: center;
    padding: 1rem;
    font-size: 120%;
  }
}