@import url('../cards.css');

.card-steps .ant-steps-item-wait .ant-steps-item-content .ant-steps-item-title {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: bold;
  color: #424242 !important;
}

.card-steps
  .ant-steps-item-wait
  .ant-steps-item-content
  .ant-steps-item-description {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: 400;
  color: #616161;
}

.card-steps
  .ant-steps-item-process
  .ant-steps-item-content
  .ant-steps-item-title {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: bold;
  color: #000000 !important;
}

.card-steps
  .ant-steps-item-process
  .ant-steps-item-content
  .ant-steps-item-description {
  font-family: 'Roboto', sans-serif !important;
  color: #212121;
}
