@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' );

.employee-card {
  height: 100%;
  transition: 0.3s;

  padding: 12px;

  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  border-radius: 3px;

  cursor: pointer;
}

.employee-card:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.employee-card .avatar {
  background-color: transparent !important;
  width: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;

  max-height: 140px;
  max-width: 140px;
}

.employee-card .container {
  height: 100%;
}

.employee-card .details {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: right;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.employee-card .details .top {
  height: 100%;
}

.employee-card .details .top h3 {
  font-weight: bold;
  margin-bottom: 0px;

  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.employee-card .details .top h5 {
  color: #616161;
  margin-bottom: 0px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.employee-card .details .middle {
  height: 100%;
}

.employee-card .details .middle h5 {
  color: #616161;
  margin-bottom: 0px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.employee-card .details .bottom h5 {
  color: #616161;
  margin-bottom: 0px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 992px) {
  .employee-card .details {
    text-align: center;
  }
}
