.header {
  :global {
    .ant-menu-submenu-title {
      height: 56px;
    }

    .ant-menu-horizontal {
      line-height: 56px;

      & > .ant-menu-submenu:hover {
        color: #1890ff;
        background-color: rgba(24, 144, 255, 0.15);
      }
    }

    .ant-menu {
      border-bottom: none;
      height: 56px;
    }

    .ant-menu-horizontal > .ant-menu-submenu {
      top: 0;
      margin-top: 0;
    }

    .ant-menu-horizontal > .ant-menu-item,
    .ant-menu-horizontal > .ant-menu-submenu {
      border-bottom: none;
    }

    .ant-menu-horizontal > .ant-menu-item-active,
    .ant-menu-horizontal > .ant-menu-item-open,
    .ant-menu-horizontal > .ant-menu-item-selected,
    .ant-menu-horizontal > .ant-menu-item:hover,
    .ant-menu-horizontal > .ant-menu-submenu-active,
    .ant-menu-horizontal > .ant-menu-submenu-open,
    .ant-menu-horizontal > .ant-menu-submenu-selected,
    .ant-menu-horizontal > .ant-menu-submenu:hover {
      border-bottom: none;
    }
  }

  height: 56px;
  z-index: 9;
  background-color: #fff;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rightWrapper {
    display: flex;
    padding-right: 16px;
  }

  .button {
    width: 44px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: #1890ff;
      background-color: rgba(24, 144, 255, 0.15);
    }
  }
}
