@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
/* body {
  text-align: center;
}
body:before, body:after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
body:before {
  z-index: 0;
  background: url("https://cdn.pixabay.com/photo/2015/02/06/13/49/office-626097_960_720.jpg") no-repeat center/cover;
  filter: blur(4px);
}
body:after {
  z-index: 1;
  background: rgba(0, 150, 200, 0.8);
} */

#logo {
  z-index: 2;
  font: 21px "Roboto Slab";
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  line-height: 100px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#logo span {
  display: inline-block;
  vertical-align: middle;
  /* max-width: 30px; */
  overflow: hidden;
  transition: all 0.5s;
}
#logo:before, #logo:after {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
#logo:before {
  content: "[";
}
#logo:after {
  content: "]";
}
#logo:hover span {
  max-width: 250px;
}
