/* @import url("https://fonts.googleapis.com/css?family=Roboto+Slab"); */

#logo {
  z-index: 2;
  font: 21px "Roboto Slab";
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  line-height: 100px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#logo span {
  display: inline-block;
  vertical-align: middle;
  /* max-width: 30px; */
  overflow: hidden;
  transition: all 0.5s;
}
#logo:before, #logo:after {
  font-size: 25px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
#logo:before {
  content: "[";
}
#logo:after {
  content: "]";
}
#logo:hover span {
  max-width: 250px;
}
