
#default-layout .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

#default-layout .trigger:hover {
    color: #1890ff;
}

#default-layout .logo {
    height: 64px;
    background: #002140;
    position: relative;
    /* margin: 0px; */
}
